@import "variables";

body,html{
    overflow-x: hidden;
}
body{
    background: $bgcolor;
}
*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,a,span{

    color: $whiteish;
}

.dynamic-container{
    text-align: center;
    height: 40vh;
}


.svg-anim{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}